<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Anova App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- TODO may not want this relatively linked like this -->
        <link rel="stylesheet" href="../static/project.css">
        <style>

        </style>
    </head>
    <body>
        <div class="center">
            <!-- todo, download and serve from flask -->
            <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
            <script src="/static/jquery-dateformat.js"></script>
            <div class="sambaal-container">
                <h1>Current Status</h1>
                <div class="alert alert-danger">
                    TODO this should be a different screen
                    <a id="connect" href="/connect">Try connect</a>
                </div>
                <table class="table-bordered">
                    <tr>
                        <td>Online?</td>
                        <td>{{ anova_context.online }}</td>
                    </tr>
                    <tr>
                        <td>Current Status:</td>
                        <td id="currentStatus">{{ anova_context.anova_status }}</td>
                    </tr>
                    <tr>
                        <td>Timer Status:</td>
                        <td id="timerStatus">{{ anova_context.timer_status.status }}</td>
                    </tr>
                    <tr>
                        <td>Target Temp:</td>
                        <td id="targetTemp">{{ anova_context.target_temp }}</td>
                    </tr>
                    <tr>
                        <td>Current Temp:</td>
                        <td id="currentTemp">{{ anova_context.current_temp }}</td>
                    </tr>
                    <tr>
                        <td>Last Updated:</td>
                        <td id="lastUpdate">{{ anova_context.last_updated }}</td>
                    {#
                    <tr>
                        <td>Everything:</td>
                        <td>{{ anova_context }}</td>
                    </tr>
                    #}
                </table>
                <button id="refresh" class="btn btn-secondary">Refresh</button>
            </div>
            <div class="sambaal-container">
                <form id="tempForm" action="/temp" class="form-inline">
                    <div class="form-group">
                        <label for="target-temp">Set Temp</label>
                        <input type="tel" name="target-temp" class="form-control mb-2 mr-sm-2" placeholder="145">
                        <input type="submit" value="Set" class="btn btn-primary mb-2"/>
                    </div>
                </form>
                <div id="buttons">
                    <div class="container-fluid start-stop">
                        <div class="row">
                            <div class="col">
                                <button id="start-button" class="btn btn-success start-stop">Start</button>
                            </div>
                            <div class="col">
                                <button id="stop-button" class="btn btn-danger start-stop">Stop</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sambaal-container">
            <h1>Result</h1>
                <div>
                    <span id="result">Sample reponse message from the server</span>
                    <span id="resultTime">Jan 14, 1999. 12:03:44.590 EST</span>
                </div>
            </div>
        </div>
        <script>
$( "#tempForm" ).submit(function( event ) {
    event.preventDefault();

    var $form = $( this ),
        targetTemp = $form.find("input[name='target-temp']").val(),
        url = $form.attr("action");
        
    var posting = 
        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify({ temp: targetTemp }),
            contentType: 'application/json',
            success: function (data) {
                /*var content = $(data).find("#set_temp");
                $("#result").empty().append(content);*/
                updateDeviceData(data.anova);
                updateMessage(data.message);
            }
    });

    posting.done(function( data ) {
        updateDeviceData(data.anova);
        updateMessage(data.message);
    });
});

$("#start-button").click(function(event) {
    event.preventDefault();

    $.post("/start", function(data) {
        updateDeviceData(data.anova);
        updateMessage(data.message);
    });
});

$("#stop-button").click(function(event) {
    event.preventDefault();
    $.post("/stop", function(data) {
        updateDeviceData(data.anova);
        updateMessage(data.message);
    });
});

$("#refresh").click(function(event) {
    event.preventDefault();
    $.get("/refresh", function(data) {
        updateDeviceData(data.anova);
        updateMessage(data.message);
    });
});

$("#connect").click(function(event) {
    event.preventDefault();
    $.get("/connect", function(message) {
        updateMessage(message);
     });
});

function updateDeviceData(data) {
    $("#currentStatus").empty().append(data.anova_status);
    $("#timerStatus").empty().append(data.timer_status.status);
    $("#targetTemp").empty().append(data.target_temp);
    $("#currentTemp").empty().append(data.current_temp);
    $("#lastUpdate").empty().append(data.last_updated);
}

function updateMessage(message) {
    if (!message) {
        $("#result").empty().append("No response received");
    } else {
        $("#result").empty().append(message);
    }
    $("#resultTime").empty().append(
        $.format.date(
            new Date(),
            "dd MMM h:mm:ss a"));
}

        </script>
    </body>
</html>
